[submodule "apex"]
	path = apex
	url = https://github.com/apexrtos/apex.git
[submodule "toybox/src"]
	path = toybox/src
	url = https://github.com/landley/toybox.git
[submodule "busybox/src"]
	path = busybox/src
	url = git://busybox.net/busybox.git
